.Header, .Footer{
color: green;
}

.modal-root {
    color: red;
    /* Pour que la modal prenne tout l'écran : */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Modal {
    background-color: white;
    width: 700px;
    height: 400px;
  }

